#div1{
    height: 15%;
    width: 100%;
    background-color: aqua;
    text-align:center;  
    line-height: 6;
}

#cont{
    height: 70%;
    text-align: center;
    line-height: 30;
}

#div2{
    background-color: chartreuse;
    float: left;
}

#div3{
    background-color:yellow;
    float: none;
}

#div4{
    background-color:magenta;
    float: right;
}

#div5{
    height: 15%;
    width: 100%;
    background-color: rgb(232, 190, 20);
    text-align:center;
    line-height: 6;
}